In [4]:
#Modeling

#Pre-Modeling
#Take the existing Sample dataset
#Make this dataset concise for modeling purposes
# C:\Users\deema\Financial-Fraud-1\Processed Data\cleaned_fraud_data.csv
#cleaned_fraud_data.to_csv('Model_sample.csv', index=False)


import pandas as pd

# Read the entire CSV file
df = pd.read_csv('C:/Users/deema/Financial-Fraud-1/Processed Data/cleaned_fraud_data.csv')

# Select the first 10,000 rows
df_model = df[:10000]

In [10]:
import numpy as np

#Observe the header of the new sample df for modeling
df_model.head()

,type,amount,oldbalanceOrg,newbalanceOrig,nameDest,oldbalanceDest,newbalanceDest,isFraud,isFlaggedFraud
0,TRANSFER,3573.11,0.00,0.00,C422466055,223901.18,227474.28,0,0
1,PAYMENT,6141.99,337394.62,331252.63,M404619443,0.00,0.00,0,0
2,CASH_OUT,526504.25,0.00,0.00,C790886408,32111553.59,32638057.85,0,0
3,CASH_OUT,197988.87,41298.00,0.00,C2138706730,3507583.49,3705572.36,0,0
4,CASH_OUT,339577.33,0.00,0.00,C1650523697,1760353.29,2099930.62,0,0

In [11]:
#Describe the new sample df for modeling

print(df_model.shape)

(10000, 9)

In [ ]:
#Saving the sample dataframe to a csv file named ML_Sample
df_model.to_csv(r'C:\Users\deema\Financial-Fraud-1\Processed Data\ML_Sample.csv', index=None, header=True)