In [3]:
# Data Transformation 
#Next, I will Transform the dataset by dropping identified columns and / or values. 
""" The primary goal of this process is to:

* drop columns that are obsolete 
* drop select columns that will negatively impact the data """

' The primary goal of this process is to:\n\n* drop columns that are obsolete \n* drop select columns that will negatively impact the data '

In [4]:
import pandas as pd
import numpy as np

In [5]:
#Read the Dataset (df) from the .csv file
df = pd.read_csv('https://s3.amazonaws.com/dstkh.datasets/PS_20174392719_1491204439457_log.csv')

In [6]:
#Create a smaller subset of the data, n=1 million rows and name it, "sample_df"
sample_df = df.sample(n=1000000)

In [7]:
#Print first 5 rows of 'sample_df' for this review

sample_df.head()

,step,type,amount,nameOrig,oldbalanceOrg,newbalanceOrig,nameDest,oldbalanceDest,newbalanceDest,isFraud,isFlaggedFraud
6207039,587,TRANSFER,3573.11,C2029421814,0.00,0.00,C422466055,223901.18,227474.28,0,0
4719176,332,PAYMENT,6141.99,C555314103,337394.62,331252.63,M404619443,0.00,0.00,0,0
5563412,386,CASH_OUT,526504.25,C738213239,0.00,0.00,C790886408,32111553.59,32638057.85,0,0
1653785,158,CASH_OUT,197988.87,C597191435,41298.00,0.00,C2138706730,3507583.49,3705572.36,0,0
1802552,162,CASH_OUT,339577.33,C1949774804,0.00,0.00,C1650523697,1760353.29,2099930.62,0,0

In [8]:
#Make a back up copy of the df

copy_sample_df = sample_df.copy()

In [9]:
# Print out the shape of this dataframe for better clarity

print(sample_df.shape)

(1000000, 11)

In [10]:
# Display how many null values are in each column of this dataframe
sample_df.isna().sum()

step              0
type              0
amount            0
nameOrig          0
oldbalanceOrg     0
newbalanceOrig    0
nameDest          0
oldbalanceDest    0
newbalanceDest    0
isFraud           0
isFlaggedFraud    0
dtype: int64

In [11]:
# Drop the columns that are not necessary for the analysis.
# Those identified are: step, nameOrig
# Column = Step, is significant to a time variable which is not being measured here
# Column = nameOrig, indicates the account origin name, this is not being measured her.

#The following represents the new df created following transformation of the data

transformed_sample_df =sample_df.drop(columns=['step', 'nameOrig'], inplace=True)

In [14]:
# Print out the shape of this old dataframe, sample_df

sample_df.shape

(1000000, 9)

In [15]:
#Copy of changed data frame to modified
modified_sample_df = sample_df.copy()

In [16]:
# Print out the first 5 rows of this dataframe for validation
print(modified_sample_df.describe)

<bound method NDFrame.describe of              type     amount  oldbalanceOrg  newbalanceOrig     nameDest  \
6207039  TRANSFER    3573.11           0.00            0.00   C422466055
4719176   PAYMENT    6141.99      337394.62       331252.63   M404619443
5563412  CASH_OUT  526504.25           0.00            0.00   C790886408
1653785  CASH_OUT  197988.87       41298.00            0.00  C2138706730
1802552  CASH_OUT  339577.33           0.00            0.00  C1650523697
...           ...        ...            ...             ...          ...
2658543  CASH_OUT  172848.76         327.00            0.00  C1397453271
133485    PAYMENT    5194.76        2524.69            0.00   M286284579
290653   CASH_OUT  437580.15         298.00            0.00   C614532593
362461   CASH_OUT   23605.46       22293.00            0.00   C182469463
2392657  CASH_OUT   71799.13           0.00            0.00   C356824962

         oldbalanceDest  newbalanceDest  isFraud  isFlaggedFraud
6207039       223901.18       227474.28        0               0
4719176            0.00            0.00        0               0
5563412     32111553.59     32638057.85        0               0
1653785      3507583.49      3705572.36        0               0
1802552      1760353.29      2099930.62        0               0
...                 ...             ...      ...             ...
2658543            0.00       172848.76        0               0
133485             0.00            0.00        0               0
290653         41895.27       479475.42        0               0
362461         28092.06            0.00        0               0
2392657       178056.67       249855.80        0               0

[1000000 rows x 9 columns]>

In [17]:
# Write this newly transformed dataset to the `Processed Data` folder.
#modified_sample_df.to_csv('fraud_data_cleaned.csv',index=False )

modified_sample_df.to_csv(r'C:\Users\deema\Financial-Fraud-1\Processed Data\cleaned_fraud_data.csv', index=None, header=True)