In [1]:
# Data Transformation 
#Next, I will Transform the dataset by dropping identified columns and / or values. 
""" The primary goal of this process is to:

* drop columns that are obsolete 
* drop select columns that will negatively impact the data """

' The primary goal of this process is to:\n\n* drop columns that are obsolete \n* drop select columns that will negatively impact the data '

In [2]:
import pandas as pd
import numpy as np

In [3]:
#Read the Dataset (df) from the .csv file
df = pd.read_csv('https://s3.amazonaws.com/dstkh.datasets/PS_20174392719_1491204439457_log.csv')

In [4]:
#Create a smaller subset of the data, n=1 million rows and name it, "sample_df"
sample_df = df.sample(n=1000000)

In [5]:
#Print first 5 rows of 'sample_df' for this review

sample_df.head()

,step,type,amount,nameOrig,oldbalanceOrg,newbalanceOrig,nameDest,oldbalanceDest,newbalanceDest,isFraud,isFlaggedFraud
593340,33,PAYMENT,5680.26,C819887001,68879.09,63198.83,M190782679,0.0,0.0,0,0
3551614,260,PAYMENT,6905.36,C1256774296,0.00,0.00,M741048650,0.0,0.0,0,0
2551670,206,PAYMENT,11966.33,C1796063708,11052.00,0.00,M593668944,0.0,0.0,0,0
2284703,187,PAYMENT,22219.91,C406885644,461222.05,439002.14,M1344589778,0.0,0.0,0,0
2875736,227,TRANSFER,76387.70,C1545832159,30151.00,0.00,C918645269,0.0,76387.7,0,0

In [6]:
#Make a back up copy of the df

copy_sample_df = sample_df.copy()

In [7]:
# Print out the shape of this dataframe for better clarity

print(sample_df.shape)

(1000000, 11)

In [8]:
# Display how many null values are in each column of this dataframe
sample_df.isna().sum()

step              0
type              0
amount            0
nameOrig          0
oldbalanceOrg     0
newbalanceOrig    0
nameDest          0
oldbalanceDest    0
newbalanceDest    0
isFraud           0
isFlaggedFraud    0
dtype: int64

In [9]:
# Drop the columns that are not necessary for the analysis.
# Those identified are: step, nameOrig
# Column = Step, is significant to a time variable which is not being measured here
# Column = nameOrig, indicates the account origin name, this is not being measured her.

#The following reqpresents the new df created following transformation of the data
#transformed_df = sample_df.drop(['step', 'nameOrig'], axis = 1, inplace=True)

transformed_df =sample_df.drop(columns=['step', 'nameOrig'], inplace=True)

In [11]:
#Make a copy of the sample_df -transformed 
modified_sample_df = sample_df.copy()

In [12]:
# Print out the shape of this old dataframe, sample_df

modified_sample_df.shape

(1000000, 9)

In [13]:
# Print out the first 5 rows of this dataframe for validation
print(modified_sample_df.describe)

<bound method NDFrame.describe of              type     amount  oldbalanceOrg  newbalanceOrig     nameDest  \
593340    PAYMENT    5680.26       68879.09        63198.83   M190782679
3551614   PAYMENT    6905.36           0.00            0.00   M741048650
2551670   PAYMENT   11966.33       11052.00            0.00   M593668944
2284703   PAYMENT   22219.91      461222.05       439002.14  M1344589778
2875736  TRANSFER   76387.70       30151.00            0.00   C918645269
...           ...        ...            ...             ...          ...
2032161  CASH_OUT  152053.30           0.00            0.00  C1863794824
1946013  CASH_OUT  471626.47           0.00            0.00   C711359926
4652294  CASH_OUT  105086.76           0.00            0.00  C2119712101
6068034   PAYMENT    2327.92      313503.42       311175.50  M1047200846
2401113   CASH_IN  510077.97       20973.00       531050.97   C250292188

         oldbalanceDest  newbalanceDest  isFraud  isFlaggedFraud
593340             0.00            0.00        0               0
3551614            0.00            0.00        0               0
2551670            0.00            0.00        0               0
2284703            0.00            0.00        0               0
2875736            0.00        76387.70        0               0
...                 ...             ...      ...             ...
2032161      4527880.05      4679933.34        0               0
1946013      4289807.93      4761434.39        0               0
4652294       692841.84       797928.60        0               0
6068034            0.00            0.00        0               0
2401113        69409.45            0.00        0               0

[1000000 rows x 9 columns]>

In [ ]:
# Write this newly transformed dataset to the `ProcessedData` folder.
modified_sample_df.to_csv('fraud_data_cleaned.csv',index=False )